* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.articles {
  /* background-color:black; */
  background-color: blue;
  display: flex;
  flex-direction: column;
 
  border: 5px solid black;
  color: tomato;
  padding: 20px;
  margin: auto;
  width: 80%;
}
.articles a{
  color: red;
  text-decoration: none;
  font-size: 25px;
}

.articles a:hover{
  color: yellow;
}

.articles img {
  /* background-color:blue; */
  width: 400px;
  height: 400px;
  /* margin: 10px; */
}
